body, html {
  font-family: 'Heebo', 'Assistant', 'Open Sans', Arial, sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  direction: rtl;
  text-align: right;
}

